header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: justify;
}

body {
  background-image: url(../img/pattern.jpg);
}

#logo {
  float: left;
  padding: 0;
}

h1 {
  text-align: center;
}

body {
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: #fff;
  float: right;
}

ul li {
  display: inline-block;
  padding: 0 10px;
  color: blue;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  font-size: 17px;
}

section {
  background-color: white;
  margin: 70px 100px 0;
  padding: 10px;
}

#article-list a {
    text-decoration: none;
}

article {
    border-bottom: 1px solid gray;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1px;
    margin: 20px 0;
}